body {
  background-color: rgba(44, 100, 24, 0.522);
  font-family: fantasy;
  color: rgb(17, 74, 21);
  max-width: 690px;
  margin: auto;
}
h1 {
  margin-top: 30px;
}
p {
  max-width: 600px;
  display: block;
}
.intro {
  font-size: 20px;
  border-bottom: solid;
}
a. {
  padding: 30px;
}
.button {
  margin-bottom: 10px;
  padding: 10px;
  width: 300px;
  background-color: rgb(14, 80, 41);
  text-align: center;
  border-radius: 15px;
}
a div {
  color: beige;
  text-decoration: none;
}
div {
  display: inline-block;
  margin: 10px;
}
